# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

permissions:
  contents: read

on:
  push:
  pull_request:

env:
  release_name: build_${{github.run_number}}
  latest_go_version: '1.25'
  branch: ${{github.ref_name}}

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{env.latest_go_version}}
    - name: Install gofumpt
      run: go install mvdan.cc/gofumpt@latest
    - name: Check formating
      run: gofumpt -d ./
  
  lint:
    needs: format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{env.latest_go_version}}
    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: Install errcheck
      run: go install github.com/kisielk/errcheck@latest
    - name: Install golangci-lint
      run: go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest
    - name: Install revive
      run: go install github.com/mgechev/revive@latest        
    - name: Install go-critic
      run: go install -v github.com/go-critic/go-critic/cmd/go-critic@latest 
    - name: Check
      run: make lint
      
  build-linux:
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-24.04]
        platform: [64]
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{env.latest_go_version}}
    - name: Test
      run: go test -v ./...
    - name: Build
      run: go build -v ./...
    - name: Build Artifact
      run: go build -v .
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dreamdump-${{env.release_name}}_linux_${{matrix.platform}}
        path: ./dreamdump

  build-windows:
    needs: lint
    strategy:
      matrix:
        os: [windows-2022]
        platform: [64]
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{env.latest_go_version}}
    - name: Test
      run: go test -v ./...
    - name: Build
      run: go build -v ./...
    - name: Build Artifact
      run: go build -v .
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dreamdump-${{env.release_name}}_win_${{matrix.platform}}
        path: ./dreamdump.exe
