# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: snap

permissions:
  contents: read

on:
  push:

env:
  release_name: build_${{github.run_number}}
  branch: ${{github.ref_name}}

jobs:
  build-snap:
    runs-on: ubuntu-latest
    steps:
    - name: Install software
      run: | 
        sudo apt update
        sudo apt upgrade -y
        sudo apt install snap snapd -y
        sudo snap install snapcraft --classic
    - name: Clone GuillaumeFalourd/poc-github-actions PUBLIC repository
      uses: GuillaumeFalourd/clone-github-repo-action@v2.1
      with:
        owner: 'MoriGM'
        repository: 'dreamdump'
    - name: Build snap package
      run: |
        cd dreamdump
        git checkout ${{env.branch}}
        sudo snapcraft pack --use-lxd