# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: snap

permissions:
  contents: read

on:
  push:

env:
  release_name: build_${{github.run_number}}
  branch: ${{github.ref_name}}

jobs:
  build-snap:
    strategy:
      matrix:
        platform: [64]
    runs-on: ubuntu-latest
    steps:
    - name: Install software
      run: | 
        apt update; apt upgrade -y; apt install snap snapd -y
        snap install snapcraft
    - name: Clone GuillaumeFalourd/poc-github-actions PUBLIC repository
      uses: GuillaumeFalourd/clone-github-repo-action@v2.1
      with:
        owner: 'MoriGM'
        repository: 'dreamdump'
        depth: 1
    - name: Build archlinux package
      run: |
        cd dreamdump
        git checkout ${{env.branch}}
        snapcraft pack --use-lxd