# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: snap

permissions:
  contents: read

on:
  push:

env:
  release_name: build_${{github.run_number}}
  branch: ${{github.ref_name}}

jobs:
  build-snap:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@v3
      - name: Use Snapcraft
        run: sudo snapcraft pack